/* fun http://andregagnon.com Write your theme styles here */
a, a:visited, a:active { color: #428bca; color: #13B75A; text-decoration: underline; }

a:hover, a:focus { color: #2a6496; color: #87E818; }

h1 { font-size: 28px; line-height: 1.2em; }

h2 { font-size: 24px; line-height: 1.3em; }

h3 { font-size: 22px; line-height: 1.3em; }

h1, h2, h3 { margin: 8px 0 6px; }

h4, h5, h6 { margin: 8px 0 4px; font-weight: 400; }

hr { margin: 7px 0; padding: 0; }

.title { font-size: 36px; }

ul, ol { margin: 0; margin: 0 0 15px 30px; padding: 0; }

ul li, ol li { padding: 0 0 5px 0; }

.hentry { margin: 0; }

.page-content, .entry-content, .entry-summary { margin-top: 0.5em; margin-bottom: 0.5em; }

@media only screen and (min-width: 850px) { .page-content, .entry-content, .entry-summary { margin-top: 1.0em; margin-bottom: 1.0em; } }

.acf-map { width: 100%; height: 400px; border: #ccc solid 1px; margin: 20px 0; }

/* fixes potential theme css conflict */
.acf-map img { max-width: inherit !important; }

.container-fluid { background-color: transparent; }

.container { background-color: #ffffff; background-color: transparent; }

.container-fluid.header { background-color: #007834; background-color: #04496A; background-color: #04496A; border-bottom: 1px solid #efefef; }

.container-fluid.header .tophat { padding: 5px 45px 0 0; text-align: right; }

.container-fluid.header .tophat a { margin: 0 0 0 20px; padding: 0 0 0 0; color: white; text-decoration: none; }

.container-fluid.header .tophat a .fa { color: white; font-size: 22px; }

.container-fluid.header .site-branding h1 { font-size: 18px; font-weight: 400; }

@media only screen and (min-width: 850px) { .container-fluid.header .site-branding h1 { font-size: 20px; } }

.navbar-default .navbar-nav > li > a { text-transform: uppercase; }

.navbar-default { background-color: transparent; border-color: transparent; }

.navbar-default .navbar-toggle { border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar { background-color: black; }

@media only screen and (min-width: 480px) { .navbar-default .navbar-collapse { padding-left: 0; } }

.navbar-default .navbar-toggle:focus { background-color: transparent; }

.navbar-default .navbar-nav li { text-align: right; }

.navbar-default .navbar-nav li > a { text-transform: uppercase; text-align: left; }

.navbar-default .navbar-nav li:hover { background-color: #f8f8f8; }

.navbar { margin-bottom: 0px; min-height: 0; }

.single-post .entry-header, .single-code-example .entry-header { padding-top: 20px; }

.container-fluid.portfolio .card { background-color: #f8f8f8; margin: 10px 0px; padding: 10px 20px 20px; min-height: 0; }

@media only screen and (min-width: 850px) { .container-fluid.portfolio .card { margin: 15px 5px; padding: 20px 30px 30px; min-height: 500px; } }

.container-fluid.portfolio h1, .container-fluid.portfolio h2 { font-weight: 500; }

.container-fluid.portfolio hr { margin: 24px 0; }

.container-fluid.portfolio .testimonial { margin: 20px 0 10px; font-style: italic; }

.container-fluid.portfolio .testimonial-author h5 { text-align: right; }

.form-group { display: inline-block; }

.search-results #main-content .container { padding-bottom: 25px; }

.search-results article { margin-top: 25px; }

.search-results article .entry-summary { margin: 5px 0 3px; }

.search-results article .entry-summary p { margin: 0; }

.single-portfolio .entry-header, .single-portfolio .entry-content { margin-bottom: 40px; }

.column .icon { font-size: 24px; color: #13B75A; color: #04496A; }

.column h3 { color: #04496A; }

.fun-col-icon { font-size: 4em !important; color: #3787AF !important; margin: 0 0 0 70%; margin: 5% 0 -80px 0; padding: 0; }

@media only screen and (min-width: 850px) { .fun-col-icon { margin: 2% 0 0 70%; text-align: right; } }

.two_column_contact_form_7 .wpcf7 { margin: 0; border: 1px solid #ccc; border-radius: 4px; padding: 10px 25px; font-size: 12px; color: #777; color: #121212; }

.two_column_contact_form_7 .wpcf7 h1 { font-weight: 700; color: #121212; text-align: center; }

.two_column_contact_form_7 .wpcf7 .intro { font-size: 16px; color: #121212; }

.two_column_contact_form_7 .wpcf7 input[type=email] { width: 100% !important; margin: 5px 0px; padding: 5px 10px; font-size: 16px; color: #777; }

.two_column_contact_form_7 .wpcf7 textarea { margin: 5px 0px; padding: 5px 10px; height: 120px; font-size: 16px; color: #777; }

.two_column_contact_form_7 .wpcf7 input[type=submit] { background-color: #13B75A !important; margin: 10px 0px; padding: 10px; border-radius: 10px; width: 100%; color: white; text-align: center; font-size: 18px; }

.two-column-mixed a.link { background-color: #13B75A; padding: 5px 20px; margin: 5px 5px 30px; border: 1px solid #13B75A; border-radius: 8px; display: inline-block; color: white; text-decoration: none; }

.two-column-mixed a.link:hover, .two-column-mixed a.link:visited { color: white; }

.container-with-background { background-color: transparent; background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-attachment: scroll; background-size: contain; background-size: cover; }

.layout-hero-with-background { padding: 10px 20px; color: #f0f0f0; color: #efefef; color: white; text-shadow: 0 1px 0 black; }

@media only screen and (min-width: 850px) { .layout-hero-with-background { padding: 50px 50px; } }

.layout-title-and-meta .entry-header { margin: 0 0 2em; }

.layout-title-and-meta .entry-header h1 { font-size: 38px; }

.layout-title-and-meta .entry-meta a { color: white; }

.layout-title-and-meta .entry-meta a:hover, .layout-title-and-meta .entry-meta a:visited { color: white; }

.content-bootstrap .entry-footer { margin: 0 0 1em; }

.pricing-table .column > div { background-color: white; margin: 1em 0; border: 1px solid lightgray; border-radius: 10px; padding: 20px; }

@media only screen and (min-width: 850px) { .pricing-table .column > div { min-height: 950px; } }

.pricing-table .column > div h1 { background-color: #3787AF; margin: 5px -25px 5px -25px; border: 1px solid #04496A; padding: 10px 20px; display: block; font-weight: 400; color: white; }

.combo-3-column .column.fixed { min-height: 0; }

.combo-3-column .column.fixed li del { color: lightgray; }

.combo-3-column .title { font-size: 26px; }

.combo-3-column p { text-align: justify; }

.combo-3-column p h3 { color: black; }

.combo-3-column ul { text-align: left; }

.combo-3-column ul li { text-align: left; }

.combo-3-column a.button { background-color: #13B75A; width: 80%; margin: 40px auto 0; margin: 0px auto 0; border: 1px solid #13B75A; border-radius: 16px; padding: 10px 0px; display: block; position: absolute; bottom: 30px; text-align: center; text-decoration: none; color: white !important; }

.combo-3-column a.button ::visited { color: white; }

.home .column.fixed { min-height: 0; }

.container-fluid.footer { background-color: #1875A3; }

.container-fluid.footer-2 { background-color: #04496A; }

.container-fluid.footer, .container-fluid.footer-2 { color: white; }

.container-fluid.footer .site-footer, .container-fluid.footer-2 .site-footer { padding: 30px 5px; font-size: 14px; line-height: 1.3em; }

.container-fluid.footer .site-footer .site-social, .container-fluid.footer-2 .site-footer .site-social { padding: 0 0 5px; text-align: center; }

@media only screen and (min-width: 850px) { .container-fluid.footer .site-footer .site-social, .container-fluid.footer-2 .site-footer .site-social { padding: 0; } }

.container-fluid.footer .site-footer .site-social a, .container-fluid.footer-2 .site-footer .site-social a { padding: 0 24px 0 0; color: white; }

.container-fluid.footer .site-footer .site-social .fa, .container-fluid.footer-2 .site-footer .site-social .fa { font-size: 28px; }

@media only screen and (min-width: 600px) { .woocommerce-product-details, .short-description { display: none !important; } }

.woocommerce-product-details__short-description { display: none !important; }

/*# sourceMappingURL=main.css.map */