@import "../../bower_components/sass-bootstrap/lib/_mixins.scss";
@import "../../bower_components/sass-bootstrap/lib/_variables.scss";
/*
 * fun
 * http://andregagnon.com
 *
 * Write your theme styles here
 */


///////////////////////////////////////////////////////////////////////////////
// colors
// As hex codes */

$color-primary-0: #13B75A;	// Main Primary color, seagreen #2e8b57? */
$color-primary-1: #5CD08F;  //lightest
$color-primary-2: #35C072;
$color-primary-3: #009842;
$color-primary-4: #007834;  // darkest

$color-secondary-1-0: #1875A3;	// Main Secondary color (1), blue */
$color-secondary-1-1: #5CA2C3;
$color-secondary-1-2: #3787AF;
$color-secondary-1-3: #075D87;
$color-secondary-1-4: #04496A;

$color-secondary-2-0: #87E818;	// Main Secondary color (2), lime */
$color-secondary-2-1: #B2F06A;
$color-secondary-2-2: #9CEB41;
$color-secondary-2-3: #68C200;
$color-secondary-2-4: #529800;

$color-complement-0: #FF4A1A;	// Main Complement color, red  */
$color-complement-1: #FF8E71;
$color-complement-2: #FF6D47;
$color-complement-3: #D62D00;
$color-complement-4: #A82300;

$fun-green: $color-primary-0;
$fun-blue: $color-secondary-1-0;
$fun-blue-2: $color-secondary-1-2;
$fun-blue-dark: $color-secondary-1-4;
$fun-lime: $color-secondary-2-0;
$fun-red: $color-complement-0;
$fun-green-dark: $color-primary-4;

///////////////////////////////////////////////////////////////////////////////
// general
body {
}

a, a:visited, a:active {
  color: $link-color;
  color: $fun-green;
  text-decoration: underline;
}
a:hover, a:focus {
  color: $link-hover-color;
  color: $fun-lime;
}

h1 {
  font-size: 28px;
  line-height: 1.2em
}
h2 {
  font-size: 24px;
  line-height: 1.3em
}
h3 {
  font-size: 22px;
  line-height: 1.3em
}

h1, h2 {
  //font-weight: 700;
}
h1, h2, h3 {
  margin: 8px 0 6px;
  //font-weight: 700;
}
h4, h5, h6 {
  margin: 8px 0 4px;
  font-weight: 400;
}
hr {
  margin: 7px 0;
  padding: 0;
}
.title {
  font-size: 36px;
}
ul, ol {
  margin: 0;
  margin: 0 0 15px 30px;
  padding: 0;
  li {
    padding: 0 0 5px 0;
  }
}

///////////////////////////////////////////////////////////////////////////////
// WordPess
.hentry { margin: 0;}
.page-content, .entry-content, .entry-summary {
  //margin: 0.5em 0 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
//    margin: 1.0em 0 1.0em;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
  }

}
// google map
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}


///////////////////////////////////////////////////////////////////////////////
// container
.container-fluid {
  background-color: transparent;
}
.container {
  background-color: #ffffff;
  background-color: transparent;
}

///////////////////////////////////////////////////////////////////////////////
// header
.container-fluid.header {
  background-color: $fun-green-dark;
  background-color: #04496A;
  background-color: $fun-blue-dark;
  border-bottom: 1px solid #efefef;
  .tophat {
    padding: 5px 45px 0 0;
    text-align: right;
    a {
      margin: 0 0 0 20px;
      padding: 0 0 0 0;
      color: white;
      text-decoration: none;
      .fa {
        color: white;
        font-size: 22px;
      }
    }
  }
  .site-branding {
    h1 {
      font-size: 18px;
      font-weight: 400;
      @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
        font-size: 20px;
      }
    }
  }
}

// navigation
.navbar-default .navbar-nav > li > a{
  text-transform: uppercase;
}
.navbar {
}
///////////////////////////////////////////////////////////////////////////////
// navigation defaults
.navbar-default {
  background-color: transparent;
  border-color: transparent;

  .navbar-toggle {
    border-color: transparent;
    .icon-bar {
      background-color: black;
    }
  }
  .navbar-collapse {
    @media only screen and (min-width: $screen-xs) { // xs <> 480px, small, phones
      padding-left: 0;
    }
  }
  .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-nav{
    li {
      text-align:right;
    }
    li > a {
      text-transform: uppercase;
      text-align:left;
    }
    li:hover {
      background-color: #f8f8f8;
    }
  }

}

.navbar {
  margin-bottom: 0px;
  min-height: 0;
}

///////////////////////////////////////////////////////////////////////////////
//content

.single-post, .single-code-example {
  .entry-header {
    padding-top: 20px;
  }
}
.container-fluid.portfolio {
  //background-color: #f8f8f8;
  .card {
    background-color: #f8f8f8;
    margin: 10px 0px;
    padding: 10px 20px 20px;
    min-height: 0;
    @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
      margin: 15px 5px;
      padding: 20px 30px 30px;
      min-height: 500px;
    }

  }
  h1, h2 {
    font-weight: 500;
  }
  hr {
    margin: 24px 0;

  }
  .testimonial {
    margin: 20px 0 10px;
    font-style: italic;
  }
  .testimonial-author h5 {
    text-align: right;
  }
}
.form-group {
  display:inline-block;
}
.search-results {
  #main-content .container {
    padding-bottom: 25px;
  }
  article {
    margin-top: 25px;
    .entry-summary {
        margin: 5px 0 3px;
        p {
          margin: 0;
        }
    }
  }

}
.single-portfolio {
  .entry-header, .entry-content {
    margin-bottom: 40px;
  }
}

.column {

  .icon {
    font-size: 24px;
    color: $fun-green;
    color: $fun-blue-dark;
  }

  h3 {
    color: $fun-blue-dark;
  }
}

.fun-col-icon {
  font-size: 4em !important;
  color: $fun-blue-2 !important;
  margin: 0 0 0 70%;
  margin: 5% 0 -80px 0;
  padding: 0;
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    margin: 2% 0 0 70%;
    text-align: right;
  }

}

.two_column_contact_form_7 {
  .wpcf7 {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 25px;
    font-size: 12px;
    color: #777;
    color: #121212;

    h1 {
      font-weight: 700;
      color: #121212;
      text-align: center;
    }
    .intro {
      font-size: 16px;
      color: #121212;
    }
    input[type=email] {
      width: 100% !important;
      margin: 5px 0px;
      padding: 5px 10px;
      font-size: 16px;
      color: #777;

    }
    textarea {
      margin: 5px 0px;
      padding: 5px 10px;
      height: 120px;
      font-size: 16px;
      color: #777;

    }
    input[type=submit] {
      background-color: $fun-green !important;
      margin: 10px 0px;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      color: white;
      text-align: center;
      font-size: 18px;
    }
  }
}

.two-column-mixed {

  a.link {
    background-color: $fun-green;
    padding: 5px 20px;
    margin: 5px 5px 30px;
    border: 1px solid $fun-green;
    border-radius: 8px;
    display: inline-block;
    color: white;
    text-decoration: none;
    &:hover, &:visited {
      color: white;
    }
  }
}
.container-with-background {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  background-attachment: fixed;
  background-attachment: scroll;

  background-size: contain;
  background-size: cover;

}
.layout-hero-with-background {
  padding: 10px 20px;
  @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
    padding: 50px 50px;
  }

  color: #f0f0f0;
  color: #efefef;
  color: white;
  //text-rendering: optimizeLegibility;
  text-shadow: 0 1px 0 black;

  h1, h2, h3, h4, h5, h6 {
    //color: white;
  }
}
.layout-title-and-meta {
  .entry-header {
    margin: 0 0 2em;
    h1 {
      font-size: 38px;
    }
  }
  .entry-meta {
    a {
      color: white;
      &:hover, &:visited {
        color: white;
      }
    }
  }
}


.content-bootstrap {
  .entry-footer {
      margin: 0 0 1em;
  }
}

.pricing-table {
  .column > div {
    background-color: white;
    @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
      min-height: 950px;
    }
    margin: 1em 0;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;

    h1 {
      background-color: $fun-blue-2;
      margin: 5px -25px 5px -25px;
      border: 1px solid $fun-blue-dark;
      padding: 10px 20px;
      display: block;
      font-weight: 400;
      color: white;
    }

    ul {
      //background-color: lightgray;
    }
  }
}
.combo-3-column {
  .column.fixed {
    min-height: 0;
    @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
      //min-height: 600px;
    }

    li {
      del {
        color: lightgray;
      }
    }
  }

  .title {
    font-size: 26px;
  }
  p {
    h3 {
      color: black
    }
    text-align: justify;

  }
  ul {
    text-align: left;
    li {
      text-align: left;
    }
  }
  a.button {
    background-color: $fun-green;
    width: 80%;
    margin: 40px auto 0;
    margin: 0px auto 0;
    border: 1px solid $fun-green;
    border-radius: 16px;
    padding: 10px 0px;
    display: block;
    position: absolute;
    bottom: 30px;
    text-align: center;
    text-decoration: none;
    color: white !important;
    ::visited {
      color: white;
    }
  }
}

.home .column.fixed {
  min-height: 0;
}

///////////////////////////////////////////////////////////////////////////////
// footer
.container-fluid.footer {
  background-color: $fun-blue;
}

.container-fluid.footer-2 {
  background-color: $fun-blue-dark;
}

.container-fluid.footer, .container-fluid.footer-2  {

  color: white;

  .site-footer {
    padding: 30px 5px;
    font-size: 14px;
    line-height: 1.3em;

    .site-social {
      padding: 0 0 5px;
      @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
        padding: 0;
      }

      text-align: center;
      @media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
        //text-align: left;
      }

      a {
        padding: 0 24px 0 0;
        color: white;
      }
      .fa {
        font-size: 28px;
      }
    }
  }
}
// woocommerce
.woocommerce-product-details, .short-description {
  @media only screen and (min-width: $screen-sm) {
    display: none !important;
  }
}
.woocommerce-product-details__short-description {
  display: none !important;

}
.summary{
  //display: none !important;

}
//@media only screen and (min-width: $screen-xxs) { // xxs > 160px, phones
//}
// tablet break
@media only screen and (min-width: $screen-xs) { // xs <> 480px, small, phones
}
@media only screen and (min-width: $screen-sm) { // small > 768px, tablet, portrait
}
// desktop break, ipad landscape break
@media only screen and (min-width: $screen-md) { // medium > 992px, tablet landscape
}
@media only screen and (min-width: $screen-lg) { // large, wide > 1100px
}
